<footer class="flex flex-col items-center mb-6">
  <div class="flex justify-center mb-3">
    <p class="logo text-4xl">matt v</p>
  </div>
  <p class="px-6 text-center">
    Copyright © {{ currentYear }}. Designed and coded by me. Feel free to
    <a
        class="text-blue-600 dark:text-blue-500"
        href="https://github.com/backslashmatt/mattv-about-me/"
    >fork it</a
    >
    and create your own version.
  </p>
  <small class="flex mt-2">Angular Version: {{ VERSION.full }} 🚀</small>
</footer>
