<main class="relative h-screen md:flex md:overflow-hidden">
  <nav class="bg-teal-600 flex justify-between md:hidden">
    <a routerLink="/"
       routerLinkActive="active-link"
       [routerLinkActiveOptions]="{ exact: true }"
    ></a>
    <button class="p-4 focus:outline-none focus:bg-slate-600" (click)="toggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
  </nav>
  <aside
      [ngClass]="{ '-translate-x-full': isMenuClosed }"
      class="z-10 bg-teal-600 text-gray-100 w-80 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
    <app-side-bar></app-side-bar>
  </aside>
  <section
      class="flex-1 overflow-y-auto flex flex-col justify-between md:h-full h-[calc(100%-5rem)]"
  >
    <div><router-outlet></router-outlet></div>
    <app-footer></app-footer>
  </section>
</main>
