<div class="mt-6 md:mt-12">
  <h1 class="text-slate-800 max-sm:text-3xl md:text-5xl lg:max-3xl:text-7xl text-4xl text-center mb-5">Hey, I'm Matt
    Verry</h1>
  <div class="pr-6 pl-6 lg:max-3xl:pr-32 lg:max-3xl:pl-32 mb-5">
    <hr class="border-t-2"/>
  </div>
  <div class="flex items-center max-3xl:flex-row max-lg:flex-col p-2 justify-center 3xl:ms-56 3xl:me-56">
    <div
        class="w-full max-w-md bg-white p-5 mb-3">
      <div class="flex flex-col items-center">
        <img class="mb-3 rounded shadow-lg" [width]="330" [height]="388" priority="true"
             ngSrc="assets/MattV.jpg"
             alt="A Picture Of Matt Verry"/>
        <app-social-links [isPrimary]="true"></app-social-links>
      </div>
    </div>
    <div class="flex flex-col max-sm:ps-2 ps-10 pb-16 h-full flex-grow max-h-full max-w-xl items-center">
      <h3 class="text-slate-800 text-4xl font-bold mb-2">What Do I Do?</h3>
      <p class="content">
        I'm a seasoned Full Stack .NET Developer specializing in Angular, adept at crafting top-notch web solutions.
        With extensive Angular proficiency,
        I create dynamic user interfaces and excel in SPAs. My .NET mastery ensures robust back-end systems, efficient
        APIs, data security, and Infrastructure as Code. I've driven complex app development, optimized performance, and
        collaborated seamlessly in Agile setups.
      </p>
      <p class="content">
        Passionate about staying current, I mentor peers and proactively contribute to the dev community.
        Meticulous, adaptable, and a strong communicator further
        enhancing my ability to design, deploy, and manage scalable and efficient applications.
        I'm poised to elevate projects with my technical finesse and collaborative prowess.
      </p>
    </div>
  </div>
</div>
